@import "tailwindcss";
@import "@nuxt/ui";
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-cocogoose: 'Cocogoose', sans-serif;

  --color-primary-50: #5EE1E8;
  --color-primary-100: #4CDEE6;
  --color-primary-200: #3BDBE3;
  --color-primary-300: #29D7E0;
  --color-primary-400: #1FCDD6;
  --color-primary-500: #1CBCC4;
  --color-primary: #1BB2B9;
  --color-primary-700: #179AA1;
  --color-primary-800: #14898F;
  --color-primary-900: #12787D;

  --color-secondary: #565959;

  --color-third: #EDCF99;
  
  --color-accent: #80D30A;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 10s ease infinite alternate;
    -moz-animation: animatedgradient 10s ease infinite alternate;
    animation: animatedgradient 10s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}